body {
    background-image: url(Earth.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: none;
}
.paragraf-2{
    font-size: 16px;
    color:white;
    border: 1px solid white
}
.paragraf-1 {
    font-size: 15px;
    color:aqua;
}
h3 ,h1 {
    color:rgb(138, 61, 30)
}
.city{
    background-color: rgb(49, 46, 46);
    color: white;
    border: 2px solid black;
    margin:20px;
    padding: 20px;
}
.note {
    font-size: 100%;
    color:blue
}
p {
    color:antiquewhite
}
.text {
    color:aqua;
    font-size: 120%;
}
.title {
    background-color:rgb(37, 138, 67);
    padding: 10px;
    width: 300px;
}
button {
    background-color:rgb(126, 67, 155);
    color:black;
    padding: 10px 20px;
    font-size: 20px;
    border: 10px;
    cursor: pointer;
}
button:hover {
    background-color: rgb(222, 222, 222);
}